.background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
a{
    text-decoration: none;
}
.login{
    width: 420px;
    min-height: 350px;
  border: 1px solid rgb(46, 43, 79);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:#121926;
    border-radius: 20px;
    padding: 2rem;
}
.heading{
    text-align: center;
     font-family: "Montserrat", sans-serif;
     font-size: 35px;
}
.para{
    margin-top: 3%;  
    margin-bottom: 7%;
}
.input{
    background-color: transparent;
    width: 100%;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 8px;
    border: 1px solid rgb(46, 43, 79);

  padding: 3%;
    background-color: #2C2C2C;
}
input::placeholder {
  color: rgb(241, 243, 248);
}
.button{
    background: linear-gradient(to right, #6D28D9, #9F7AEA);;
    cursor: pointer;
}
.bottom{
    text-align: center;
     color: rgb(241, 243, 248);
}