.request {
   width: 82%;
  height: 100vh;
  overflow: auto;
  padding-bottom: 2%;
}
.markettop{
  margin-top: 3%;
  padding: 0% 5%;
}
.top1{
    font-size: 28px;
  font-weight: bold;
  color: #4E38F6;
}
.top2{
     margin-top: 1%;
  font-size: 20px;
  color: #798CA0;
}

.container{
  margin-top: 3%;
  padding: 0% 5%;
  height: auto;
  overflow: hidden;
}
.requestcard{
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  margin-bottom: 2%;
  width: 100%;
  height: auto;
  background-color: #101624;
  padding-bottom: 3%;
}
.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
     background: linear-gradient(to right, #4155f1, #9733EE);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}
.user{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1%;
}.username{
  font-size: 20px;
}
.middle{
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 30%;
}
.left,.right{
    padding: 2%;
    width: 40%;
    height: 100%;
  background-color: #101826;  
  border: 1px solid #E0E0E0;
  border-radius: 15px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 2%;
}   
.leftbuttons, .rightbuttons{
    width: 40%;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: #0F3428;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightbuttons{
    background-color: #3C121F;
}
.timeing{
    margin-top: 5%;
    font-size: 20px;
    color: #798CA0;
}
.toggle{
  background-color: #101624;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 150px;
  height: 40px;
  margin-left: 5%;
  margin-top:2%;
  padding: 2px 3px;
  border-radius: 8px;
}
.incoming , .outgoing{
cursor: pointer;
}
.incoming:hover,.outgoing:hover{
  color: #793b4f;
}